/* common code start */
.padding{
  padding: 20px 5%;
}
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/* common code end */


/* header start */
#checkbox:checked ~ .header__nav{
  left: 0;
}
#checkbox:checked ~ .check{
  transform: rotate(180deg);
}
.check{
  display: block;
  font-size: 22px;
  transition: all .3s linear;
}
.header{
  padding: 15px 5%;
}
.header__nav{
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  transition: all .3s linear;
  width: 230px;
  height: 100vh;
  box-shadow: 3px 3px 30px #DDDDDD;
  z-index: 1;
}
.nav__ul{
  background: #FFFFFF;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 100vh
}
.nav__li{
  position: relative;
  width: 100%;
}
.nav__a{
  color: #000000;
  display: block;
  font-size: 14px;
  width: 100%;
}
.nav__a:hover{
  background: #F2F2F2
}
.sub__ul{
  position: relative;
  box-shadow: none;
  display: none;
  margin: 0;
  padding-left: 20px;
}
.sub__ul2{
  position: relative;
  box-shadow: none;
  display: none;
  margin: 0;
  padding-left: 20px;

}
.nav__btn{
  outline: none;
  border: none;
  background: none;
  color: #000000;
  font-weight: normal;
  padding: 10px;
  border-radius: none;
  margin: 0;
  display: block;
  font-size: 14px;
}
.nav__btn:hover{
  color: #000000;
  border: none;
  background: none;
}
/* header end */
.feature__head{
  padding: 0
}
.feature__p{
  padding: 10px 15px
}
.feature__box{
  padding: 30px;

}
.box__p{
  padding: 5px 0;
  font-size: 14px;
}
.about__p, .about__ul{
  font-size: 14px;
  line-height: 20px
}
.testimonials__p{
  padding: 10px 0;
  font-size: 14px
}
.testimonials__slider{
  width: 370px;
}
.testimonials__slides{
  margin: 0;
}

.copy__p{
  font-size: 14px

}
.feature__p{
  font-size: 14px
}