/* common code start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
.section::after{
  display: table;
  clear: both;
  content: '';
}
.padding{
  padding: 50px 10%;
}
.btn{
  outline: none;
  border: 1px solid #070061;
  background: #070061;
  color: #FFFFFF;
  font-weight: normal;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 14px;
  margin: 10px;
}
.btn:hover{
  color: #000000;
  border: 1px solid #000000;
  background: none
}
.btn0{
  outline: none;
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-weight: normal;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 14px;

}
.btn0:hover{
  color: #FFFFFF;
  border: 1px solid #070061;
  background: #070061;
}
.section__sub{
  color: #FF9A00;
  background: #FFECCF;
  border-radius: 30px;
  padding: 5px 15px;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
[class*="col-"] {
  width: 100%;
}
/* common code end */


/* header start */
.header{
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 3px 3px 30px #F0F0F0;
  position: sticky;
  top: 0;
}
#checkbox{
  display: none;
}
.check{
  display: none;
}
.nav__ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav__li{
  font-size: 10px;
}
.sub__ul{
  position: absolute;
  list-style: none;
  width: 180px;
  margin-top: 15px;
  box-shadow: 3px 3px 30px #DDDDDD;
  background: #FFFFFF;
  display: none;
}
.sub__ul2{
  position: absolute;
  background: #FFFFFF;
  display: none;
  list-style: none;
  width: 180px;
  box-shadow: 3px 3px 30px #DDDDDD;
  margin-top: 1px;
  margin-left: 50px;
}
.nav__li:hover .sub__ul{
  display: block;
}
.sub__li:hover .sub__ul2{
  display: block;
}
.nav__a{
  display: block;
  text-decoration: none;
  color: #878787;
  padding: 10px;
  cursor: pointer;
}
.nav__li:hover{
  color: #000000;
}
.nav__btn{
  color: #E59406;
  margin-left: 10px;

}
/* header end */


/* home start */
.home__dics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.home__img{
  width: 100%;
}
.home__h1{
  padding: 10px 0;
  font-size: 25px;
  text-transform: capitalize;
}
.home__p{
  padding: 10px 0;
  font-size: 14px;
  color: #808080;
  line-height: 20px;
}
.home__button{
  padding: 20px 0
}

/* home end */


/* feature start */
.feature__head{
  text-align: center;
  padding: 0 19%
}
.feature__h2{
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px 0
}
.feature__p{
  padding: 10px 0;
  font-size: 10px;
  color: #808080;
  line-height: 18px;
}
.feature__body{
  padding: 30px 0;
}
.feature__box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.box__img{
  width: 40px;
  height: 40px;
  margin: 5px 0;
}
.box__h3{
  font-size: 15px;
  text-transform: capitalize;
  padding: 5px 0
}
.box__p{
  padding: 5px 15px;
  font-size: 10px;
  color: #808080;
  line-height: 18px;
}
/* feature end */


/* about start */
.about__dics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about__img{
  width: 100%;
  
}
.about__h2{
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px 0
}
.about__p{
  padding: 10px 0;
  font-size: 10px;
  color: #808080;
  line-height: 15px;
}
.about__ul{
  list-style: none;
  font-size: 10px;
  color: #808080;
  line-height: 15px;
}
.about__li i{
  padding-right: 5px;
}
.about__btn{
  margin-top: 30px;
}
/* about end */


/* services start */
.services{
  text-align: center;
}
.services__h2{
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px 0
}
.services__card{
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E7E7E7;
  padding: 30px;
  border-radius: 5px;
}
.card__img{
  width: 40px;
  
}
.card__dics{
  padding-left: 30px;
}
.card__h3{
  font-size: 18px;
  padding-bottom: 5px
}
.card__p{
  padding-top: 5px;
  font-size: 13px;
  color: #808080;
  line-height: 18px;
  
}
.services__box{
  padding: 30px 0
}
/* services end */


/* testimonials start */
.testimonials{
  text-align: center;
  background: #F6F6F6
}
.testimonials__head{
  padding: 50px 0;
}
.testimonials__h2{
  font-size: 25px;
  text-transform: capitalize;
  padding: 10px 0
}
.testimonials__slider{
  margin: 0 auto;
  width: 760px;
  overflow: hidden;
  border-radius: 7px;

}
.testimonials__flex{
  display: inline-flex;
  animation: slides 20s infinite;
}
@keyframes slides{
  0%{
    transform: translateX(0);
  }
  9%{
    transform: translateX(0);
  }
  11%{
    transform: translateX(-10%);
  }
  20%{
    transform: translateX(-10%);
  }
  22%{
    transform: translateX(-20%);
  }
  31%{
    transform: translateX(-20%);
  }
  33%{
    transform: translateX(-30%);
  }
  42%{
    transform: translateX(-30%);
  }
  44%{
    transform: translateX(-40%);
  }
  53%{
    transform: translateX(-40%);
  }
  55%{
    transform: translateX(-50%);
  }
  64%{
    transform: translateX(-50%);
  }
  66%{
    transform: translateX(-60%);
  }
  75%{
    transform: translateX(-60%);
  }
  77%{
    transform: translateX(-70%);
  }
  86%{
    transform: translateX(-70%);
  }
  88%{
    transform: translateX(-80%);
  }
  97%{
    transform: translateX(-80%);
  }
  100%{
    transform: translateX(0%);
  }
}
.testimonials__p{
  padding: 10px 10%;
  font-size: 10px;
  color: #808080;
  line-height: 18px;
}
.testimonials__slides{
  background: #FFFFFF;
  padding: 20px 40px;
  border-radius: 7px;
  border: 1px solid #D9D9D9;
  text-align: left;
  width: 370px;
  margin: 0 5px;
}
.testimonials__slides:hover{
  border: 1px solid #838383;
}
.slider__p{
  padding: 20px 0;
  font-size: 18px;
  color: #A0A0A0;
  line-height: 27px;
}
.slides__dics{
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.slides__img{
  width: 40px;
  border-radius: 50%;
}
.slides__txt{
  padding-left: 20px;
}
.slides__h3{
  font-weight: normal;
  color: #797979;
  font-size: 18px;
  line-height: 25px
}
.slides__p{
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0
}
/* testimonials end */


/* footer start */
.footer__h3{
  font-size: 18px;
  padding: 10px 0;
}
.footer__section{
  height: 200px;
}
.footer__p{
  padding-top: 5px;
  font-size: 14px;
  color: #808080;
  line-height: 30px;
}
.footer a{
  text-decoration: none;
  font-size: 14px;
  color: #808080;
  display: block;
  line-height: 35px;
  text-transform: capitalize;
  padding: 0;
  cursor: pointer;
}
.contract a{
  display: inline;
  padding: 0 15px
}
.contract i{
  color: #808080;
  font-size: 14px;
}
.footer__copy{
  bottom: 0;
  background: #F3F3F3;
  border-top: 1px solid #D4D4D4;
}
.copy__p{
  text-align: center;
  padding: 15px;
  font-size: 10px;
  color: #808080;
  line-height: 18px;
}
.footer__copy a{
  display: inline;
  font-size: 10px;
  color: #808080;
  line-height: 18px;
}
.footer{
  padding-bottom: 0;
}
/* footer end */